__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/
venv/
data/raw/*
data/processed/*
models/*
!models/*.pkl
!models/*.pt
!models/*.md
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
.env
*.log
.DS_Store
